body {
  background: -webkit-linear-gradient(grey,white );
  height: 100%;
  /*background: url('Images/background.jpg') no-repeat 100% 75%;*/
}

.btn {
  font-weight: bold;
  margin: 0 10px;
  color: white;
  border: none !important;
  text-shadow: none;
}

.btn-success {
  background: rgb(25, 135, 43);
}

footer{
  background: black;
  color: rgb(214, 145, 28);
  padding: 8px;
}

.intro {
  padding: 200px 25px;
  color: rgb(214, 145, 28);
  background: url('Images/lawJumbotron2.jpg') 100% 50% fixed;
  background-repeat: no-repeat;
  background-size: cover;
  text-shadow: -.1em -.1em .1em black;
}

.intro p {
  font-weight: bold;
  color: black;
  text-shadow: -.1em -.1em .1em white;
}

.jumbotron {
  margin: 0;
}

.navbar-brand {
  position: absolute;
  margin: -4px;
}

p {
  font-size: 1.4em;
  font-weight: bold;
}
