body, html {
    height: 100%;
    background: url('Images/background.jpg') 100% 55% fixed;
}


/*.about {
    background: url('Images/background.jpg') 100% 55% fixed;
}*/

.btn {
    color: white;
    font-weight: bold;
    text-shadow: none;
    border: none !important;
    margin: 0 10px;
}

.btn-success {
    background: rgb(25, 135, 43);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

h1 {
    font-weight: bolder;
}

hr {
    border: solid 2px black;
}

.intro {
    padding: 125px 25px;
    text-align: center;
    color: rgb(214, 145, 28);
    background: url('Images/lawJumbotron2.jpg') 100% 50% fixed;
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: -.1em -.1em .1em black;
}

.intro ul {
    font-weight: bolder;
    display: inline-block;
    color: black;
    text-shadow: -.1em -.1em .1em white;
}


/*img {
    max-width: 100%;
}*/

.jumbotron {
    margin: 0;
}

.navbar-brand {
    position: absolute;
    margin: -4px;
}

p {
    font-size: 1.4em;
    font-weight: bold;
}

.pic {
    width: 250px;
    height: 250px;
    box-shadow: 2px 5px 5px white;
}

.practiced {
    padding: 200px 25px;
    text-align: center;
    font-weight: bold;
    color: rgb(214, 145, 28);
    background: url('Images/lawJumbotron.jpg') 100% 55% fixed;
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: -.1em -.1em .1em black;
}

.services {
    padding: 50px;
    color: black;
    background: white url('Images/background.jpg') 100% 65% fixed;
}


/*=======  Personal Injury  =======*/

.examples {
    display: inline-block;
}

.examples li {
    font-size: 1.2em;
    text-align: left;
}


/*=======  End Personal Injury  =======*/
