body, html {
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

h1 {
    font-weight: bolder;
}

p {
    font-size: 1.4em;
    font-weight: bold;
}

hr {
    border: solid 2px black;
}

.intro {
    padding: 125px 25px;
    text-align: center;
    color: black;
    background: url('Images/lawJumbotron.jpg') 100% 50% fixed;
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: -.1em -.1em .1em white;
}

.intro ul {
    font-weight: bolder;
    display: inline-block;
    color: black;
    text-shadow: -.1em -.1em .1em white;
}

img {
    max-width: 100%;
}

.navbar-brand {
    position: absolute;
    top: -5px;
    text-align: center;
    margin: auto;
}

.pic {
    width: 550px;
    height: 250px;
    box-shadow: 2px 5px 5px white;
}

.practiced {
    padding: 125px 25px;
    text-align: center;
    font-weight: bold;
    color: black;
    background: url('Images/lawJumbotron.jpg') 100% 55% fixed;
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: -.1em -.1em .1em white;
}


/*=======  Oil and Gas  =======*/

.services {
    padding: 75px;
    color: white;
    background: rgb(55, 63, 80);
}


/*=======  End Oil and Gas  =======*/


/*=======  Personal Injury  =======*/

.examples {
    display: inline-block;
}


/*=======  End Personal Injury  =======*/
